@keyframes heartFill {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.iconHeart i {
    font-weight: 100;
    font-size: 30px;
}

.iconHeart:hover i {
    font-weight: 900;
    animation: heartFill 5s forwards;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}