footer {
    background-color: #353535;
  
    * {
      color: white;
    }
  
    p,
    h1 {
      margin: 0;
    }
  
    p {
      padding-bottom: 7px;
    }
  
    h1 {
      font-family: $title-font;
      font-size: 18px;
      font-weight: 400;
      padding-bottom: 16px;
    }
  
    .footerLayout {
      padding: 23px;
      padding-bottom: 22px;
  
      .fa-handshake-angle {
        font-size: 11px;
      }
  
      i {
        padding-right: 10px;
      }
    }
  }