$title-font: Shrikhand;
$main-font: Roboto;

@import "_footer.scss";

* {
    font-family: $main-font;
}


body {
    margin: 0px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__previous {
            text-decoration: none;
            width: 24px;
            display: flex;
            align-items: center;
            margin-right: auto;
        }

        &__previousIcon {
            cursor: pointer;
        }

        &__logoText {
            display: flex;
            justify-content: center;
            font-family: $title-font;
            font-size: 30px;
            font-weight: 400;
            margin: 0;
            padding-top: 14px;
            padding-bottom: 14px;
            flex-grow: 1;
        }

    }



    .menu {

        &__image {
            height: 275px;
            width: 100%;
            object-fit: cover;
            bottom: 0px;
        }


        &__Container {
            background-color: #F6F6F6;
            border-radius: 25px 25px 0px 0px;
            width: 100%;
            top: -30px;
        }

        &__title {
            display: flex;
            align-items: center;
        }

        #menu__heartIcon {
            font-weight: 100;
            font-size: 30px;
            cursor: pointer;
        }

        &__titleText {
            font-family: $title-font;
            font-size: 28px;
            font-weight: 400;
            padding-left: 17px;
            padding-right: 25px;
        }

        #menu__heartCheckbox:checked+label #menu__heartIcon {
            background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-weight: 900;
        }

        input {
            display: none;
        }



        &_entries {
            width: 100%;
        }

        &_entriesTitle {
            margin: 0px;
            font-family: $main-font;
            font-size: 16px;
            font-weight: 300;
            padding-left: 17px;
            position: relative;
            margin-bottom: 15px;
        }

        &_entriesTitle::after {
            content: "";
            position: absolute;
            width: 38px;
            height: 2px;
            background-color: #99E2D0;
            bottom: -5px;
            left: 18px;
        }

        &__circleIcon {
            color: white;
            background-color: #99e2d0;
            height: 100%;
            width: 60px;
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 15px 15px 0px;
            opacity: 0;
        }



        #selectionMenu:checked+label #validation,
        #selectionMenu2:checked+label #validation,
        #selectionMenu3:checked+label #validation {
            opacity: 1;
            transition: 1.5s;
        }

        #selectionMenu:checked+label .euro,
        #selectionMenu2:checked+label .euro,
        #selectionMenu3:checked+label .euro {
            transform: translateX(-48px);
        }

        input {
            display: none;
        }

        &__plats {
            display: flex;
            margin: 10px;
            padding: 15px;
            background-color: white;
            border-radius: 15.043px;
            box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
            justify-content: space-between;
            cursor: pointer;
            position: relative;
        }

        &__leftColumn {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        span {
            font-family: $main-font;
            font-size: 18px;
            font-weight: 700;

        }

        p {
            font-family: $main-font;
            font-size: 15.043px;
            font-weight: 300;
            margin: 0;
        }


        &__rightColumn {
            display: flex;
            flex-direction: column-reverse;
        }

        span {
            font-family: $main-font;
            font-size: 18px;
            font-weight: 700;
        }


    }
}