* {
  font-family: Roboto;
}

body {
  margin: 0px;
}
body header {
  display: flex;
  align-items: center;
  gap: 42px;
}
body header .fa-arrow-left {
  cursor: pointer;
  padding-left: 17px;
}
body header .mainTitle h1 {
  text-align: center;
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
}
body .menuImg {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
body .menu {
  position: relative;
}
body .menu .menuContainer {
  position: absolute;
  background-color: #F6F6F6;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  top: -30px;
}
body .menu .menuContainer .favorite {
  display: flex;
  align-items: center;
}
body .menu .menuContainer .favorite h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  padding-left: 17px;
  padding-right: 25px;
}
body .menu .menuContainer .favorite .fa-heart {
  font-weight: 100;
  font-size: 30px;
  cursor: pointer;
}
body .menu .menuContainer .favorite #heartCheckbox:checked + label #heartIcon {
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
}
body .menu .menuContainer .favorite input {
  display: none;
}
body .menu .menuStart {
  width: 100%;
}
body .menu .menuStart h3 {
  margin: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  padding-left: 17px;
  position: relative;
  margin-bottom: 15px;
}
body .menu .menuStart h3::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 2px;
  background-color: #99E2D0;
  bottom: -5px;
  left: 18px;
}
body .menu .circle-layout {
  color: white;
  background-color: #99e2d0;
  height: 100%;
  width: 60px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  opacity: 0;
}
body .menu .selectionMenu {
  font-weight: 100;
  font-size: 30px;
  cursor: pointer;
}
body .menu #selectionMenu:checked + label #validation,
body .menu #selectionMenu2:checked + label #validation,
body .menu #selectionMenu3:checked + label #validation {
  opacity: 1;
  transition: 1.5s;
}
body .menu #selectionMenu:checked + label .euro,
body .menu #selectionMenu2:checked + label .euro {
  transform: translateX(-48px);
  font-size: 14px;
}
body .menu #selectionMenu3:checked + label .euro {
  position: absolute;
  top: 15px;
  right: 60px;
}
body .menu #selectionMenu:checked + label span, body .menu p,
body .menu #selectionMenu2:checked + label span, body .menu p,
body .menu #selectionMenu3:checked + label span, body .menu p {
  font-size: 15px;
}
body .menu input {
  display: none;
}
body .menu .entries {
  display: flex;
  margin: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 15.043px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
body .menu .entries .leftColumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body .menu .entries .leftColumn span {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}
body .menu .entries .leftColumn p {
  font-family: Roboto;
  font-size: 15.043px;
  font-weight: 300;
  margin: 0;
}
body .menu .entries .rightColumn {
  display: flex;
  flex-direction: column-reverse;
}
body .menu .entries .rightColumn span {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}/*# sourceMappingURL=menu.css.map */