footer {
  background-color: #353535;
  padding: 23px;
  padding-bottom: 22px;
}
footer * {
  color: white;
}
footer__title {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 16px;
}
footer__paragraph {
  padding-bottom: 7px;
}
footer__paragraph, footer__title {
  margin: 0;
}
footer .fa-handshake-angle {
  font-size: 11px;
}
footer .fa-solid {
  padding-right: 10px;
}

* {
  font-family: Roboto;
}

body {
  margin: 0px;
}
body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
body .header__image {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .header__previous {
  position: absolute;
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-right: auto;
  color: inherit;
  cursor: pointer;
  padding-left: 17px;
}
body .header__logoText {
  display: flex;
  justify-content: center;
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  flex-grow: 1;
}
body footer {
  position: relative;
  top: 1050px;
}
body main {
  position: absolute;
  top: 323px;
  width: 100%;
}
body .menu {
  background-color: #F6F6F6;
  border-radius: 25px 25px 0px 0px;
  padding-bottom: 90px;
}
body .menu__buttonCommand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
}
body .menu__buttonCommand--layout {
  width: 40%;
  height: 50px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border-width: 0px;
  text-decoration: none;
}
body .menu__buttonCommand--layout:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}
body .menu__buttonCommand--direction {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .menu__buttonCommand--text {
  color: white;
  font-size: 15px;
}
body .menu__heartIcon {
  font-weight: 100;
  font-size: 30px;
  cursor: pointer;
}
body .menu__heartIcon:hover {
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
}
body .menu__title {
  display: flex;
  align-items: center;
}
body .menu__titleText {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  padding-left: 17px;
  padding-right: 25px;
}
body .menu input {
  display: none;
}
body .menu_entries {
  width: 100%;
}
body .menu_entriesTitle {
  margin: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  padding-left: 17px;
  position: relative;
  margin-bottom: 15px;
}
body .menu_entriesTitle::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 2px;
  background-color: #99E2D0;
  bottom: -5px;
  left: 18px;
}
body .menu__circleIcon {
  color: white;
  background-color: #99e2d0;
  height: 100%;
  width: 60px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  opacity: 0;
}
body .menu input {
  display: none;
}
body .menu__plats {
  display: flex;
  margin: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 15.043px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
body .menu__plats span {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}
body .menu__plats:hover .menu__circleIcon {
  opacity: 1;
  transition: 1.5s;
}
body .menu__leftColumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body .menu__leftColumn-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}
body .menu__leftColumn-p {
  font-family: Roboto;
  font-size: 15.043px;
  font-weight: 300;
  margin: 0;
}
body .menu__rightColumn {
  display: flex;
  flex-direction: column-reverse;
}/*# sourceMappingURL=menu.css.map */